version: '3.5'
services:
  mongodb:
    image: mongo
    container_name: mongo-1842585-six-cities-1
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: 123456
    ports:
      - 27017:27017
    volumes:
      - ./mongodb:/data/db
    command: --wiredTigerCacheSizeGB 2
